/*
 * CSS Table Galery 
 * Author: Emiliano ESB
 * E-Mail: emilianoeloi@gmail.com
*/


#itsthetable span {
  font-size: 15px ;
  font-weight : bold;
} 

#itsthetable {
 
  margin:0; 
  padding:0;
  font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif; 
}
#itsthetable table, #itsthetable tr, #itsthetable th, #itsthetable td {
	border-collapse: collapse;
}
#itsthetable caption {
  margin:0; 
  padding:0;
  background: #EEEE55;
  height: 12px;
  line-height: 12px;
  text-align: left;
  border-style:  solid; 
  border-width: thin;
  padding: 2px;
  
}

/* HEAD */


#itsthetable thead tr th {
  height: 33px;
  font-size: 12px ;
  line-height: 30px;
  text-align: center;
  background-repeat: repeat-x;
  font-family: Verdana, Arial, Helvetica, Geneva, SunSans-Regular, sans-serif ;
  border-collapse: collapse;
}

#itsthetable thead {
  background-color: #EEEEEE;
  border: none;
}
/* BODY */

#itsthetable tbody tr.even {
  background: #FFFFDD;
}
#itsthetable tbody tr.odd {
  background: #CCF6F6;
}
#itsthetable tbody tr.even:hover, #itsthetable tbody tr.odd:hover {
  background: #FFFF66;
}
#itsthetable tbodytr th, #itsthetable tbody tr td {
  padding: 6px;
  border: solid 1px #000;
}
#itsthetable tbody tr th  {
  background: #FFF;
  padding: 6px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  border-bottom: solid 1px #000;
}
#itsthetable tbodytr th:hover {
  background: #FFFF66;
}

/* LINKS */

#itsthetable  a {
  color: blue;
}
#itsthetable a:visited {
  color: purple ; 
}
#itsthetable a:active {
  color: red ; 
}

/* FOOTER */

#itsthetable tfoot {
  height: 24px;
  line-height: 24px;
  color: #000;
  text-align: center;
}
#itsthetable tfoot tr td {
  color: blue;
}

